<body>

	<div class = "button" align="center">

		<!--<a href="/login"> <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/09_home-512.png" width="50" height="50" /></a>-->

		<button class="logout"  onclick="window.location.href='/logout'">Log Out</button>


	</div>

	<div id="info">

		<h3><center>Your User Information</center></h3>

		<div id="userinfo"><h4>

			Username: {{user.name}}
				<br>
			Instagram ID: {{user.ig_id}} 
			
			</h4>
		</div>

	</div>

<div align="center" id="next">
	<h3>Where would you like to go next?</h3>

	
		<button class="homenav"  onclick="window.location.href='/c3visualization'">C3 Visualization</button>

		<button class="homenav"  onclick="window.location.href='/follows'">C3 Followers</button>
			<br>
		<button class="homenav"  onclick="window.location.href='/visualization'">D3 Visualization</button>
			
		

		<button class="homenav"  onclick="window.location.href='/likes'">D3 Likes</button>
</div>

</body>	




