<head>
	<link rel="stylesheet" type="text/css" href="test.css">
</head>
	<body>

	<div class = "button" align="center">

		<!--<a href="/login"> <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/09_home-512.png" width="50" height="50" /></a>-->

		<hr class="navhr" noshade="noshade"><table>
				<tr>
					<td ><a class="current" href="/account">Home</a></td>
					<td><a href="/c3visualization">C3 Visualization</a></td>
					<td><a href="/visualization">D3 Visualization</a></td>
					<td><a href="/follows">C3 Followers</a></td>
					<td><a href="/likes">D3 Likes</a></td>
					<td><a href="/logout/">Logout</a></td>
				</tr>
			</table><hr  class="navhr" noshade="noshade">


	</div>
<div class="container">
	<div id="info">

		<div class="title"><center>Your User Information</center></div>

		<div id="userinfo">

			Username: {{user.name}}
				<br>
			Instagram ID: {{user.ig_id}} 
			
		</div>

	</div>

<div align="center" class="next">
	<div class="title">Where would you like to go next?</div>

	
		<button class="homenav"  onclick="window.location.href='/c3visualization'">C3 Visualization</button>

		<button class="homenav"  onclick="window.location.href='/follows'">C3 Followers</button>
			<br>
		<button class="homenav"  onclick="window.location.href='/visualization'">D3 Visualization</button>
			
		

		<button class="homenav"  onclick="window.location.href='/likes'">D3 Likes</button>
</div>

</div>
</body>	




