<div id="bg">
	
	
	<div class = "button" align="center">

		<!--<a href="/login"> <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/09_home-512.png" width="50" height="50" /></a>-->

		<hr class="navhr" noshade="noshade"><table>
				<tr>
					<td id><a href="/account">Home</a></td>
					<td ><a class="current" href="/c3visualization">C3 Visualization</a></td>
					<td><a href="/visualization">D3 Visualization</a></td>
					<td><a href="/follows">C3 Followers</a></td>
					<td><a href="/likes">D3 Likes</a></td>
					<td><a href="/logout/">Logout</a></td>
				</tr>
			</table><hr  class="navhr" noshade="noshade">


	</div>

	<div id="c3title"> Media Count of Your Instagram Followers using C3JS </div>

	<center><div id="spinner"><image src = "http://cdn.roojoom.com/src_images/src_61778_spinner_180-44be34c342749928daa37c084ac34a6c.gif"/></div></center>

	<div id="chart"></div>



<script src="js/c3visualization.js"></script>
</div>
