<div id="bg">
	<div id="c3title"> Media Count of Your Instagram Followers using C3JS </div>
	
	<div align="center" id="navbar">

			<button class="nav"  onclick="window.location.href='/account'">Home</button>

			<button class="current"  onclick="window.location.href='/c3visualization'">C3 Visualization</button>

			<button class="nav"  onclick="window.location.href='/visualization'">D3 Visualization</button>
				
			<button class="nav"  onclick="window.location.href='/follows'">C3 Followers</button>

			<button class="nav"  onclick="window.location.href='/likes'">D3 Likes</button>

			<button class="nav"  onclick="window.location.href='/logout/'">Logout</button>
	</div>


	<center><div id="spinner"><image src = "http://cdn.roojoom.com/src_images/src_61778_spinner_180-44be34c342749928daa37c084ac34a6c.gif"/></div></center>

	<div id="chart"></div>



<script src="js/c3visualization.js"></script>
</div>
