<div align="center" id="navbar">

		<button class="nav2"  onclick="window.location.href='/account'">Home</button>

		<button class="nav2"  onclick="window.location.href='/c3visualization'">C3 Visualization</button>

		<button class="nav2"  onclick="window.location.href='/visualization'">D3 Visualization</button>
			
		<button class="nav2"  onclick="window.location.href='/follows'">C3 Followers</button>

		<button class="current2"  onclick="window.location.href='/likes'">D3 Likes</button>

		<button class="nav2"  onclick="window.location.href='/logout/'">Logout</button>

</div>

<center><h1 id="c3title">Your Most Liked Photos Using D3JS</h1></center>

<center><div id="spinner"><image src = "http://cdn.roojoom.com/src_images/src_61778_spinner_180-44be34c342749928daa37c084ac34a6c.gif"/></div></center>

<center><div id="likeschart"></div></center>




<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="js/likes.js"></script>
 <link rel="stylesheet" type="text/css" href="css/likes.css">


