<!--You must login to Instagram.

<br/>
<a href="/auth/instagram">Login with Instagram</a>-->

<body>

<div class="icons" style="margin-top: 15%">
	<p id="login">Welcome! Log in with Instagram to get started!</p>

		<div class="insta">
			<a href="/auth/instagram"> <img src="http://nationalevents.cityofhope.org/images/content/pagebuilder/instagram.png" class="insta"/></a>
			<!-- <div class="cap1"><p>Connect my Instagram</p></div> -->
		</div>


	<!-- <p style="clear:both;"> -->

		
</div>

</body>
