<div class="icons" style="margin-top: 10%">
	<div id="login"><p>Log in with Instagram to get started</p></div>

		<div class="insta">
			<a href="/auth/instagram"> <img src="http://nationalevents.cityofhope.org/images/content/pagebuilder/instagram.png" class="insta"/></a>
		</div>
</div>