<head>
<link rel="stylesheet" type="text/css" href="test.css">
</head>

<body id="loginbg">

<div class="icons">
	<div id="login"><hr noshade="noshade"><p>Log in with Instagram to get started</p><hr noshade="noshade"></div>

		<div class="insta">
			<a href="/auth/instagram"> <img src="http://nationalevents.cityofhope.org/images/content/pagebuilder/instagram.png" class="insta"/></a>
			<!--<a href="/auth/instagram">Log In</a>-->
		</div>
</div>

</body>