
	<div class = "button" align="center">

		<!--<a href="/login"> <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/09_home-512.png" width="50" height="50" /></a>-->

		<hr class="navhr" noshade="noshade"><table>
				<tr>
					<td id="current"><a href="/account">Home</a></td>
					<td><a href="/c3visualization">C3 Visualization</a></td>
					<td id="current"><a href="/visualization">D3 Visualization</a></td>
					<td><a href="/follows">C3 Followers</a></td>
					<td><a href="/likes">D3 Likes</a></td>
					<td><a href="/logout/">Logout</a></td>
				</tr>
			</table><hr  class="navhr" noshade="noshade">


	</div>

	<center><div id="c3title"> Media Count of Your Instagram Followers Using D3JS</div></center>

	<label><input type="checkbox"> Sort values</label>

	<div></div>

	<center><div id="spinner"><image src = "http://cdn.roojoom.com/src_images/src_61778_spinner_180-44be34c342749928daa37c084ac34a6c.gif"/></div></center>

	<script src="js/visualization.js"></script>


